@page "/"
@using Stuco.Application.Abstractions
@using Stuco.Domain.Entities
@inject ISession stucoSession;

<PageTitle>@Gebruiker.CompanyName</PageTitle>

<h1>Welkom @Gebruiker.Contact.FirstName</h1>

<BigButton ButtonText="Mijn Gegevens - In de maak" NavigationUrl="/" />
<BigButton ButtonText="Maak factuur aan - Werkt nog niet" NavigationUrl="/" />
<BigButton ButtonText="Facturen Raadplegen - Werkt nog niet" NavigationUrl="/" />


@code
{
    private Contractor? Gebruiker { get; set; }

    protected override void OnInitialized()
    {
        Gebruiker = stucoSession.GetCurrentContractor();

        if (Gebruiker == null)
        {
            Console.WriteLine("⚠ Gebruiker is null. Session might be missing.");
        }

        base.OnInitialized();
    }
}
